@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    outline: 0;
    z-index: 10;
}

body {
    background-color: rgb(237, 237, 237);
    height: 100vh;
    overflow: hidden;
}

/* NAVIGATION */

.navigation {
    background: white;
    padding: 15px;
    display: flex;
    color: #B6614E;
}

.navigation ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navigation li {
    padding: 0 15px;
    cursor: pointer;
}

.links {
    justify-content: start;
}

.links li {
    border-right: 1px solid #B6614E;
}

.links .title {
    border-right: 0;
    font-size: 22px;
    margin-right: 50px;
}

.user {
    margin-left: auto;
}

button {
    cursor: pointer;
}

.login {
    border: 0;
    border-radius: 5px;
    height: 30px;
    background: rgba(182,97,78,1);
    color: white;
    padding: 0 15px;
}

.login:hover {
    background: rgb(155, 77, 60);
}

.signup {
    border: 0;
    background-color: transparent;
}

/* BODY */

.container {
    width: 80%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.search {
    width: 60%;
    display: flex;
}

.searchbar {
    width: 80%;
    height: 40px;
    border: 0;
    border-radius: 5px;
    padding-left: 15px;
    box-shadow: 0px 2px 3px 2px #e4e4e4;
}

.search-btn {
    width: 20%;
    height: 40px;
    border: 0;
    border-radius: 5px;
    padding: 0 15px;
    box-shadow: 0px 2px 3px 2px #e4e4e4;
    color: black;
    margin-left: 20px;
}

.search-btn:hover {
    background-color: #e8e8e8;
}

.orders {
    width: 100%;
    margin-top:30px;
    display: flex;
    justify-content: space-around;
}

.order-card {
    width: 25%;
    display: flex;
    padding:15px;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 3px 2px #e4e4e4;
}

.thumbnail{
    width: 100%;
}

.order-title{
    font-size: 25px;
    margin-bottom:15px;
}

.price{
    color: #d83333;
}

.stars {
    margin-bottom: 15px;
}

.stars i{
    color: orange;
}

.cta{
    border: 0;
    border-radius: 5px;
    height: 40px;
    padding: 0 15px;
    width: 50%;
    background: rgba(182,97,78,1);
    color: white;
}

.cta:hover{
    background: rgb(155, 77, 60);
}